<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - CIVA</title>
    <link rel="shortcut icon" href="./../public/img/favicon-pc.svg" type="image/x-icon">

    <!-- Google Font: Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
  
    <!-- Font Icones -->
    <link rel="stylesheet" href="./../public/plugins/fontawesome-free/css/all.css">
  
    <!-- Estilo pagina -->
    <link rel="stylesheet" href="./../public/dist/css/adminlte.min.css">
  
    <!-- Estilo Adicional -->
    <link rel="stylesheet" href="./../public/dist/css/style.css">
  
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" cz-shortcut-listen="true">
    <!-- Navbar --------------------------------------------->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light navbar-collapse" aria-label="Main navigation">
        <div class="container just">
            <!-- image logo -->
            <a href="" class="navbar-brand logo-image"><img src="../public/img/image-logo.svg" alt="Logo Civa"></a>
            <div class="" id="navbarDefault">
                <ul class="navbar-nav navbar-nav-scroll">
                    <li class="nav-item">
                        <a href="cadastro-portador.html" class="nav-link" aria-current="page">Cadastre-se</a>
                    </li>
                    <span class="nav-item">
                        <a class="btn btn-outline-primary" href="login.html">Fazer Login</a>
                    </span>
                </ul>
                
            </div>
        </div>
        <!-- ./container -->
    </nav>
    <!-- ./navbar -->


    <!-- header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Sobre o projeto</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header>
    <!-- ./header -->


    <!-- image -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid mt-5 mb-3" src="../public/img/smartphone-1.png" alt="alternative">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- ./image -->


    <!-- text -->
    <div class="ex-basic-1 pt-4 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <p>About 30 years, it's a nice round number. Take care. George, buddy. remember that girl I introduced you to, Lorraine. What are you writing? Save the clock tower. No no. Lorraine, Lorraine, what are you doing?</p>
                    <p class="mb-5">Hey McFly, what do you think you're doing. Where does he come from? You can't, uh, that is, uh, nobody's home. Oh Mom, there's nothing wrong with calling a boy. You'll find out. Huh? Shit. Oh, uh, hey you, get your damn hands off her. Do you really think I oughta swear? Yeah, well history is gonna change. Re-elect Mayor Goldie Wilson. Progress is his middle name.</p>

                    <h2 class="mb-3">Forsoft Academy</h2>
                    <p>Don't worry, I'll take care of the lightning, you take care of your pop. By the way, what happened today, did he ask her out? Nothing's coming to my mind. Of course not, Biff, now I wouldn't want that to happen. Now, uh, I'll finish those reports up tonight, and I'll run em them on over first thing tomorrow, alright? I'm sure that in 1985, plutonium is available at every corner drug store, but in 1955, it's a little hard to come by. Marty, I'm sorry, but I'm afraid you're stuck here. Ahh. Ahh.</p>
                    <p class="mb-4">I'm telling the truth, Doc, you gotta believe me. Alright, alright, okay McFly, get a grip on yourself. It's all a dream. Just a very intense dream. Woh, hey, listen, you gotta help me. Give me a hand, Lorenzo. Ow, dammit, man, I sliced my hand. Pretty Mediocre photographic fakery, they cut off your brother's hair. 1955? You're my ma- you're my ma.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- ./text -->

    <!-- footer -->
    <footer class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled li-space-lg p-small">
                        <li><a href="about.html">Sobre</a></li>
                        <li><a href="terms.html">Termos de uso</a></li>
                        <li><a href="leanding-page.html">Home</a></li>
                    </ul>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <p class="p-small statement">CIVA &copy; <a href="https://www.forsoftacademy.com.br/">Forsoft Academy</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </footer>

</body>
</html>