<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIVA</title>

  <link rel="shortcut icon" href="./../public/img/favicon-pc.svg" type="image/x-icon">

  <!-- Google Font: Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">


  <!-- Font Icons Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">


  <!-- Font Icones -->
  <link rel="stylesheet" href="./../public/plugins/fontawesome-free/css/all.css">

  <!-- Estilo pagina -->
  <link rel="stylesheet" href="./../public/dist/css/adminlte.min.css">

  <!-- Estilo Adicional -->
  <link rel="stylesheet" href="./../public/dist/css/style.css">


</head>

<body class="content-wrapper" >
  <!-- Main content -->
  
    <!-- Default box -->
    <div class="card d-flex align-items-center justify-content-center mb-0">
      <div class="card-body row">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Dados Pessoais</h3>
          </div>

          <!-- /.card-header -->
          <!-- form start -->

          <form id="form-cad-portador">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Ex: Maria">
              </div>
              <div class="form-group">
                <label for="surname">Sobrenome</label>
                <input type="text" class="form-control" id="surname" placeholder="Ex: Almeida">
              </div>
              <div class="form-group">
                <label for="identity">Identidade</label>
                <input type="text" class="form-control" id="identity" placeholder="000.000.000-00">
              </div>
              <div class="form-group">
                <label for="date-birth">Data de Nascimento</label>
                <input type="date" class="form-control" id="date-birth">
              </div>
              <div class="form-group">
                <label for="country">Nacionalidade</label>
                <select class="form-control" id="country">
                  <option selected="" disabled="">Selecione</option>
                  <option>Brasil</option>
                  <option>Estados Unidos</option>
                  <option>Canadá</option>
                  <option>Japão</option>
                </select>
              </div>
              <div class="form-group">
                <label for="postal-code">CEP</label>
                <input type="text" class="form-control" id="postal-code" placeholder="00000-000">
              </div>
              
              <div class="row">
                <div class="form-group col">
                  <label for="tipo-logrd">Endereço</label>
                  <select class="form-control col" id="tipo-logrd">
                    <option selected="" disabled="">Selecione</option>
                    <option>Av.</option>
                    <option>R.</option>
                  </select>
                </div>
                <div class="form-group col-8 pl-0">
                  <label for="logrd">&nbsp;</label>
                  <input type="text" class="form-control" id="logrd" placeholder="Rio Branco">
                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="number">Complemento&nbsp;</label>
                  <input type="number" class="form-control" id="number" placeholder="Número">
                </div>
                <div class="form-group col-8 pl-0">
                  <label for="complemento">&nbsp;</label>
                  <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                </div>
              </div>
              <div class="form-group">
                <label for="sub-div1">Bairro</label>
                <select class="form-control" id="sub-div1">
                  <option selected="" disabled="">Selecione</option>
                  <option>Rio de Janeiro</option>
                  <option>Niterói</option>
                  <option>São Gonçalo</option>
                  <option>Méier</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sub-div2">Cidade</label>
                <select class="form-control" id="sub-div2">
                  <option selected="" disabled="">Selecione</option>
                  <option>Rio de Janeiro</option>
                  <option>Niterói</option>
                  <option>São Gonçalo</option>
                  <option>Méier</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sub-div3">Estado</label>
                <select class="form-control" id="sub-div3">
                  <option selected="" disabled="">Selecione</option>
                  <option>Rio de Janeiro</option>
                  <option>Niterói</option>
                  <option>São Gonçalo</option>
                  <option>Méier</option>
                </select>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label for="ddi-telf">Contato</label>
                  <input type="text" class="form-control" id="ddi-telf" value="+55" disabled>
                </div>
                <div class="form-group col pl-0">
                  <label for="telf">&nbsp;</label>
                  <input type="text" class="form-control" id="telf" placeholder="(00) 9 0000-0000">
                </div>
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="mail@mail.com">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Li e concordo com os <a href="termo-uso.html">Termos de Uso e Políticas de Privacidade.</a></label>
              </div>
            </div>
            <div class="mb-3 mt-3 d-flex justify-content-center">
              <a href="./login.html" class="btn btn-secondary btn-lg mr-3">Voltar</a>
              <button type="submit" class="btn btn-primary btn-lg" >Cadastrar</button>
            </div>
          </form>
         
          
          

        </div>

      </div>



      <!-- Main Footer -->
      <footer class="main-footer ml-0">
        <!-- Default to the left -->
        <strong>CIVA &copy; <a href="">Forsoft Academy</a>.</strong>
      </footer>
    </div>

  <!-- Content Wrapper. Contains page content -------------------------->
















  


  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="./../public/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="./../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Select2 -->
  <script src="./../public/plugins/select2/js/select2.full.min.js"></script>

  <!-- AdminLTE App -->
  <script src="./../public/dist/js/adminlte.min.js"></script>

  <!--Script do Desespero-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
  <script src="./../public/dist/js/trata-dados.js"></script>

</body>


</html>